<div class="top-navbar">
    <div class="top-icons">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="other-links">
        @if (!isAuth) {
            <button id="btn-login">
                <a routerLink="/signin">Login</a>
            </button>
            <button id="btn-signup">
                <a routerLink="/signup">Sign up</a>
            </button>
        } @else {
            <button id="btn-signout" (click)="logout()">
               Sign out
            </button>
        }

        <i class="fa-solid fa-user"></i>
        <a class="position-relative" routerLink="/cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="position-absolute">{{productCartQuantity}}</span>
        </a>
    </div>
</div>