<top-nav></top-nav>
<nav-bar></nav-bar>
<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <!-- Cart -->
        <div class="col-md-8">
            <div class="product-details mr-2">
                <div class="d-flex flex-row align-items-center"><i class="fa fa-long-arrow-left"></i><span class="ml-2">Continue Shopping</span></div>
                <hr>
                <h6 class="mb-0">Shopping cart</h6>
                <div class="d-flex justify-content-between">
                    <span>You have {{totalQuantity}} items in your cart</span>
                </div>
                @for (item of carts; track $index) {
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                        <div class="d-flex flex-row">
                            <img class="rounded" src="{{item.product_image}}" width="40" alt="{{item.product_name}}">
                            <div class="ml-2">
                                <span class="font-weight-bold d-block">{{item.product_name}}</span>
                                <span class="spec">{{item.sumary_description}}</span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <div class="p-4 bg-black"><span class="d-block p-2 text-white">{{item.quantity}}</span></div>
                            <span class="d-block ml-5 font-weight-bold p-5">{{item.price}}</span>
                            <i class="fa fa-trash-o ml-3 text-black-50"></i>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- payment -->
        <div class="col-md-4">
           <app-payment
                [subTotalPrice]="subTotalPrice"
                [totalTaxes]="totalTaxes"
                [totalPrice]="totalPrice"
            ></app-payment>
       </div>
    </div>
</div>
<footer-user></footer-user>