<div class="container" id="product-cards">
    <h1 class="text-center">PRODUCT</h1>
    <div class="row" style="margin-top: 30px;">
        @for (item of products | async; track item.id) {
            <div class="col-md-3 py-3 py-md-0 mt-2 position-relative">
                <div class="card">
                    <img src="{{item.product_image}}" alt="">
                    <div class="card-body">
                        <h3>{{item.product_name}}</h3>
                        <p>{{item.sumary_description}}</p>
                        <div class="star">
                            <i class="fas fa-star checked"></i>
                            <i class="fas fa-star checked"></i>
                            <i class="fas fa-star checked"></i>
                            <i class="fas fa-star checked"></i>
                            <i class="fas fa-star checked"></i>
                        </div>
                        <h5>{{item.price}} <span><i class="fa-solid fa-cart-shopping"></i></span></h5>
                    </div>
                </div>
                <a routerLink="/product-detail/{{item.id}}" class="position-absolute product-card-anchor" routerLinkActive="router-link-active" ></a>
            </div>
            } @empty {
                <div>Empty</div>
        }
    </div>
    <a href="clothe.html" id="viewmorebtn">View More</a>
</div>