<div class="container" id="offer">
    <div class="row">
        <div class="col-md-4 py-3 py-md-0">
            <i class="fa-solid fa-cart-shopping"></i>
            <h5>Free Shipping</h5>
            <p>On order over $100</p>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <i class="fa-solid fa-truck"></i>
            <h5>Fast Delivery</h5>
            <p>World wide</p>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <i class="fa-solid fa-thumbs-up"></i>
            <h5>Big Choice</h5>
            <p>Of product</p>
        </div>
    </div>
</div>